.attribute-filter-container {
  position: absolute;
  top: 12px;
  left: 60px;
  z-index: 400;
}

.attribute-filter-field, .attribute-filter {
  display: block
}

.attribute-filter-container>select{
    margin-bottom: 5px;
    width: 100%;
}

.attribute-filter-container>.awesomplete,.attribute-filter-container>.awesomplete>input {
    width: 100%;
}
